.container {
  padding: 0;
  margin: 0;
  position: relative;
}
.back {
  padding: 0;
  margin: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  position: absolute;
  z-index: -1;
}
.content {
  position: absolute;
  z-index: 15;
  width: 100%;
  margin-top: 45px;
}
.half {
  padding: 0 220px;
  margin-top: 5%;
  align-items: center;
}
.halfOne {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #eeeeee;
}
.number {
  margin-right: 20px;
  color: #666666;
  font-weight: 600;
}
