.container {
  padding: 0;
  margin: 0;
  position: relative;
}
.back {
  padding: 0;
  margin: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  position: absolute;
  z-index: -1;
}
.content {
  position: absolute;
  z-index: 15;
  width: 100%;
  margin-top: 45px;
}
.half {
  padding: 0 220px;
  margin-top: 5%;
  align-items: center;
}
.halfOne {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #eeeeee;
}
.number {
  margin-right: 20px;
  color: #666666;
  font-weight: 600;
}
.halfTwo {
  display: flex;
  margin-top: 100px;
}
.halfTwo div {
  width: 50%;
}
.imageHalf {
  margin-left: 70px;
}
.textHalf h3 {
  color: #999999;
  font-size: 1.5rem;
  margin: 50px 0 0 0;
  font-weight: 400;
}
.textHalf h1 {
  font-weight: 300;
  font-size: 3rem;
  margin: 20px 0 25px 0;
}
.textHalf p {
  width: 80%;
  color: #cccccc;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  line-height: 2;
}
