.head {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.firstHead {
  width: 15%;
}
.secondHead {
  width: 85%;
  display: flex;
  align-items: center;
}
.line {
  width: 35%;
  background-color: #555555;
  height: 1px;
}
.box {
  display: flex;
  width: 65%;
  background-color: rgba(80, 80, 80, 0.4);
}
.box div {
  padding: 30px 0;
  margin-right: 50px;
  border-bottom: 3px solid none;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}
.number {
  margin-right: 10px;
  font-weight: 700;
}
.icon {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  margin-left: 30%;
}
.home {
  margin-left: 110px;
}
.box div:hover {
  cursor: pointer;
  border-bottom: 3px solid white;
}
