.container {
  padding: 0;
  margin: 0;
  position: relative;
}
.back {
  padding: 0;
  margin: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  position: absolute;
  z-index: -1;
}
.content {
  position: absolute;
  z-index: 15;
  width: 100%;
  margin-top: 45px;
}
.half {
  display: flex;
  padding: 0 220px;
  margin-top: 5%;
}
.halfOne {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  color: #eeeeee;
}
.number {
  margin-right: 20px;
  color: #666666;
  font-weight: 600;
}
.halfTwo {
  margin-left: 30%;
}
.halfTwo ul {
  list-style-type: none;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  color: #eeeeee;
}
.halfTwo ul li {
  padding: 20px 0;
  margin: 50px 10px 0 10px;
  border-bottom: 3px solid rgba(80, 80, 80, 0);
}
.halfTwo ul li:hover {
  cursor: pointer;
  border-bottom: 3px solid white;
}
.secondHalf {
  display: flex;
  padding: 0 220px;
  justify-content: space-between;
}
.halfFour {
  width: 38%;
}
.halfFour p {
  padding-bottom: 70px;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  line-height: 2;
  color: #cccccc;
  border-bottom: 1px solid #666666;
}
.halfFour h1 {
  margin: 10px 0;
  font-size: 5rem;
}
.thirdHalf {
  display: flex;
}
.halfSix {
  margin-left: 60px;
}
.halfFive span,
.halfSix span {
  font-size: 0.6rem;
  font-family: "Montserrat", sans-serif;
  color: #cccccc;
}
.halfFive h3,
.halfSix h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #dddddd;
  margin: 10px 0;
}
